h1{
    font-family: "Times New Roman", serif;
    font-size: 50px;
    color: black;
    font-weight: bold;
    text-align: center;
}

p{
    font-family: "Times New Roman", serif;
    font-size: 50px;
    color: black;
    text-align: center;
}